fds_asl_homepage:
    path:     /
    defaults: { _controller: FdsAslBundle:Default:index }

get_asls:
    path:     /asls
    defaults: { _controller: FdsAslBundle:Asl:getAsls }
    methods:  [GET]
get_asl:
    path:     /asls/{asl_id}
    defaults: { _controller: FdsAslBundle:Asl:getAsl }
    methods:  [GET]
    requirements:
        asl_id: '\d+'
post_asl:
    path:     /asls
    defaults: { _controller: FdsAslBundle:Asl:postAsls }
    methods:  [POST]
delete_asl:
    path:     /asls/{asl_id}
    defaults: { _controller: FdsAslBundle:Asl:removeAsl }
    methods:  [DELETE]